@use '../variables' as v;
@use 'profile-animations';
@use 'user-posts';

.profile-page {
    width: 90%;
    margin: 3% 0 0 0;
    display: flex;
    height: 80vh;

    .left-section, .right-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-section{
        width: 50%;
        display: flex;
        align-items: center;

        h2, h3 {
            padding-top: 3%;
        }

        h2 {
            font-family: 'Jura', sans-serif;
            font-size: 3vw;
            font-weight: bold;
            color: #e4fa22;
            letter-spacing: 1vw;
        }

        h3 {
            span {
                color: lightgreen;
            }
        }

        .profile-pic-section {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5% 0;
            width: 100%;
            position: relative;
            z-index: 1;

            label {
                &:hover {
                    cursor: pointer;
                    border-color: burlywood;
                }
            }

            #profile-pic-input {
                display: none;
            }

            .change-button {
                position: absolute;
                bottom: 5%;
                right: 30%;
                z-index: 2;
                padding: 0 2%;
                background-color: skyblue;
                color: white;
                font-family: 'Jura', sans-serif;
                font-weight: bold;
                
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .image-container {
            position: relative;
            z-index: 1;
            border: 0.4vw solid skyblue;
            box-sizing: border-box;
            border-radius: 50%;
            width: 15vw;
            height: 15vw;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            transition: transform 0.4s ease-out;

            img {
                height: 100%;
            }
        }

        .dragged-over {
            border: 0.4vw dashed burlywood;
            transform: scale(1.1);
        }
    }

    .right-section {
        width: 50%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: visible;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        a {
            width: 93%;
        }

        .see-all-container {
            width: 90%;
            text-align: right;
        }

        .see-all-link {
            width: 30%;
            top: 0;
            right: 0;
        }
    }

    .post-snippet {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 8vw;
        background: linear-gradient(110deg,
            v.$post-preview-background 75%, rgba(83, 54, 54, 0.863) 85%, v.$post-preview-background 90%);
        transition: transform 0.2s ease-out;

        h3 {
            width: 66%;
        }

        &:hover {
            transform: scale(1.1);
        }

        .image-container {
            width: 30%;
            height: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: inherit;

            img {
                width: 100%;
            }
        }
    }

    .no-posts {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: 0.4vw dashed skyblue;
    }
}