@use 'variables' as v;

.appear {
    animation: appear 0.5s linear;
}

.disappear {
    animation: disappear 0.5s linear;
}

.moveDown {
    animation: moveDown 0.5s linear;
}

@keyframes disappear {
    from {
        opacity: v.$notification-opacity;
    }
    to {
        opacity: 0;
    }
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: v.$notification-opacity;
        transform: translateY(0);
    }
}

@keyframes moveDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes rotate {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(360deg);
    }
}