.main-navbar {
    background-color: #83a5e2;
    height: 10vh;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    font-family: sans-serif;
    width: 20%;
    display: flexbox;
}

.main-navbar > .links-container {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}

.logo-container {
    width: 20%;
}