@use 'variables' as v;

@mixin textLogoAnimation($span-width) {
    @for $i from 2 to 9 {
        span:nth-child(#{$i}) {
            transform: translateX(-($i - 1) * $span-width);
            animation: translateToZero 1.2s ease-out;
            animation-fill-mode: forwards;
            z-index: 9 - $i;
        }
    }
}

$block-color: v.$block-color;
.main-navbar {
    font-family: 'Jura', sans-serif;
    position: relative;
    z-index: 2;
    background-color: v.$nav-color;
    width:100%;
    min-height: 4rem;
    height: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    .links-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 25%;
        height: 100%;
    }

    .nav-links {
        text-decoration: none;
        color: white;
        height: 100%;
        font-weight: bold;
        font-size: 1.7vw;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &:hover {
            background-color: white;
            color: v.$nav-color;
            cursor: pointer;

            .create-post-svg {
                stroke: v.$nav-color;
            }
        }
    }
}

.logo-container {
    display: flex;
    align-items: center;
    width: 40%;
    min-width: 3rem;
    position: relative;

    svg {
        margin: 0 3%;
        width: 12%;
        min-width: 3rem;
        animation: rotate 10s infinite linear;
    }

    h1 {
        font-weight: bold;
        font-size: 2.15vw;
        overflow: hidden;

        span {
            position: relative;
            display: inline-block;
            background-color: v.$nav-color;
            width: 1.3vw;
            text-align: center;
        }

        span:nth-child(3) {
            text-align: right;
            width: 0.9vw;
        }

        span:nth-child(6) {
            width: 0.6vw;
        }

        span:nth-child(7) {
            width: 0.6vw;
        }

        @include textLogoAnimation(1.3vw);
    }
    
    &:hover {
        cursor: pointer;
    }
}

.default-user-links {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.create-post-link {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    
        &:hover {
        background-color: white;
        color: v.$nav-color;
        cursor: pointer;

        .create-post-svg {
            stroke: v.$nav-color;
        }
    }
}

.create-post-svg {
    stroke: white;
    stroke-width: 4;
    width:30%;
    height: 30%;
}

.user-link-container {
    position: relative;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.user-nav-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .image-container {
        width: 40%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    img {  
        border: 0.3vw solid white;
        border-radius: 50%;
        background-color: white;
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
    }

    &:hover {
        background-color: white;
        color: v.$nav-color;
        cursor: pointer;
    }
}

.user-block {
    $border-width: 0.1rem;

    position: absolute;
    width: 210%;
    min-width: 7rem;
    margin: 0;
    background: $block-color;
    color: white;
    top: 120%;
    right: 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: $border-width solid white;
    font-size: 1.2rem;

    .user-block-create-post {
        display: none;
    }

    h4 {
        padding: 10% 0 15% 0;
        width: 90%;
        display: flex;
        justify-content: center;
        word-break: break-all;
        text-align: center;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        width: 100%;
        text-align: center;
    }

    li {
        width: 100%;
        padding: 10% 0;
    }

    li:hover {
        background: white;
        color: v.$nav-color;
        cursor: pointer;
    }

    li:hover > a {
        color: inherit;
    }

    .triangle {
        position: absolute;
        width: 12%;
        min-width: 1.7rem;
        bottom: 96%;
        right: 11%;

        .inner-triangle {
            fill: $block-color;  
        }

        .outer-triangle {
            fill: white;
        }
    }
}

.default-user-menu-container {
    display: flex;
    justify-content: center;
    width: 40%;
    font-size: 1.1rem;
}

.default-user-menu {
    display: none;
    position: relative;

    svg {
        fill: white;
        stroke: white;
        stroke-width: 3;
        width: 60%;
    }

    ul {
        list-style: none;
        background-color: $block-color;
        position: absolute;
        top: 160%;
        right: 20%;
        width: 30vw;
        border: 0.05rem solid white;

        li {
            text-align: center;
            padding: 10%;
        }

        .triangle {
            position: absolute;
            width: 10%;
            stroke-width: 0;
            right: 8%;
            top: -13%;
        }

        .inner-triangle {
            fill: $block-color;
        }
    }
}

@media only screen and (max-width: 680px) and (min-width: 361px){
    .main-navbar {
        height: 3vw;
        min-height: 3rem;

        .logo-container {
            height: 100%;

            h1 {
                font-size: 4vw;

                span {
                    width: 2.5vw;
                }

                span:nth-child(3) {
                    width: 1.6vw;
                }

                span:nth-child(6), span:nth-child(7) {
                    width: 1vw;
                }

                @include textLogoAnimation(2.5vw);
                
            }
        }

        .create-post-link {
            display: none;
        }

        .default-user-menu {
            display: flex;
            align-items: center;

            .user-svg {
                height: 70%;
            }

            .triangle {
                top: -12%;
                right: 11%;
                min-width: 1rem;
            }
        }

        .user-link-container {
            width: 50%;
            height: 100%;

            .image-container {
                width: 55%;
            }
        }
        
        .user-block {
            border: 0.05rem solid white;
            font-size: 3vw;
            right: 15%;
            top: 140%;

            h4 {
                padding: 5% 0 10% 0;
            }

            li {
                padding: 5% 0;
            }

            .triangle {
                top: -9%;
                right: 10%;
                min-width: 1rem;
            }
        }

        .user-block-create-post {
            display: block;
        }
    }

    svg {
        min-width: 2.2rem;;
    }

    .default-user-links {
        display: none;
    }
}

@media only screen and (max-width: 360px) {
    .main-navbar {
        height: 3vw;
        min-height: 3rem;

        .create-post-link {
            display: none;
        }

        .user-link-container {
            width: 50%;

            .image-container {
                width: 55%;
            }
        }
        
        .user-block {
            border: 0.05rem solid white;
            font-size: 3vw;
            right: 15%;
            top: 110%;

            h4 {
                padding: 5% 0 10% 0;
            }

            li {
                padding: 5% 0;
            }

            .triangle {
                bottom: 95%;
                right: 6%;
                width: 15%;
                min-width: 0;
            }
        }

        .user-block-create-post {
            display: block;
        }
    }

    .logo-container {
        h1 {
            font-size: 5vw;

            span {
                width: 3vw;
            }
            
            span:nth-child(1) {
                text-align: right;
            }

            span:nth-child(3) {
                width: 2vw;
            }

            span:nth-child(7) {
                width: 2vw;
            }

            @include textLogoAnimation(2.7vw);
        }

        svg {
            min-width: 2.2rem;;
        }
    }

    .default-user-menu {
        display: flex;

        ul {
            .triangle {
                right: 11%;
                top: -10%;
            }
        }
    }

    .default-user-links {
        display: none;
    }
}