@use 'variables' as v;

.notification-container {
    width: 20%;
    position: fixed;
    z-index: v.$notifications-z-index;
    height: 100%;
    top: 12%;
    left: 70%;
    overflow: scroll;
    scrollbar-width: none;

    .message {
        width: 80%;
        font-size: 1.3rem;
    }

    .mark {
        width: 15%;
        font-size: 2rem;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.success-notification, .error-notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-break: break-word;
    padding: 2% 5%;
    box-sizing: border-box;
    border-radius: 5%;
    margin: 5% 0;
    font-family: sans-serif;
    opacity: v.$notification-opacity;
}

.success-notification {
    background-color: #5dcc5d;
}

.error-notification {
    background-color: red;
}