@use 'variables' as v;

.post-row {
    margin: 0 auto 3% auto;
    background-color: v.$post-background;
    width: 40%;
    height: 27vw;
    position: relative;
    border-radius: 5%;
    border: 0.2rem solid white;
    overflow: hidden;
    box-sizing: border-box;
    opacity: 0;
    animation-name: appearMoveDown;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    &:hover {
        h2 {
            display: flex;
            align-items: center;
            height: 18%;
            font-size: 1.7vw;
        }

        .post-info {
            top: 20%;
        }

        p {
            height: 50%;
            overflow: hidden;
            animation: appear 0.5s ease-in;
        }
    }

    .post-info {
        position: absolute;
        top: 50%;
        height: 80%;
        left: 0;
        background-color: v.$post-background;
        width: 100%;
        padding: 4% 0 4% 4%;
        transition: top 0.5s ease-out;

        &::after {
            content: "";
            display: block;
            position: absolute;
            height: 100%;
            width: 20%;
            bottom: 0;
            right: 0;
            background: linear-gradient(to right, 
            rgba(0, 0, 0, 0), rgba(51, 38, 38, 1));
        }
    }

    thumbnail-container {
        width: 100%;
        height: 20%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    p {
        font-size: 1.5vw;
    }

    h2, h3 {
        font-style: italic;
    }

    h2 {
        font-size: 2vw;
    }

    h3 {
        font-size: 1.5vw;
        padding: 1% 0;
    }
}

.posts-container {
    overflow: scroll;
    height: 80vh;
    width: 100%;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.post-form {
    width: 80%;

    #title {
        width: 100%;
        height: 20%;
        margin-bottom: 3%;
    }
}

@media only screen and (max-width: 680px) {
    .post-row {
        width: 80vw;
        height: 52vw;
        
        h2, h3 {
            font-size: 4.5vw;
        }

        p {
            font-size: 3vw;
        }
    }
}