@use 'variables' as v;

.single-post {
    margin: 0 0 3% 0;
    background-color: v.$post-background;
    height: 10vw;
    padding: 2%;
}

.posts-container {
    overflow: scroll;
    height: 80vh;
}