.profile-page {
    width: 90%;
    margin: 3% 0 0 0;
    display: flex;

    .image-container {
        width: 50%;
        display: flex;
        justify-content: center;

        img {
            width: 50%;
        }
    }

    h2 {
        width: 50%
    }
}