@use 'post-variables' as pv;

$label-border-width: 0.2vw;
$label-border-color: pv.$label-border-color;
.input-post {
    textarea {
        resize: none;
    }

    h2 {
        padding: 0;
        margin: 3% 0;
        word-wrap: break-word;
        
        &[placeholder]:empty::before {
            content: attr(placeholder);
            color: gray;
        }
    }

    p {
        min-height: 90%;

        textarea {
            width: 100%;
            min-height: 50vw;
            background-color: inherit;
            border: inherit;
            color: inherit;
            font-family: inherit;
            font-size: inherit;

            &::placeholder {
                font-weight: bolder;
                font-size: 3vw;
            }
        }
    }

    .thumbnail-label {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3vw;
        box-sizing: border-box;
        border: $label-border-width solid transparent;

        input {
            display: none;
        }

        &:hover {
            cursor: pointer;
            border: $label-border-width solid skyblue;
        }


    }

    .thumbnail-dragover {
        border: $label-border-width dashed $label-border-color;
    }

    .button-container {
        $animation-duration: 3s;
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 2%;

        button {
            padding: 1% 5%;
            font-weight: bold;
            font-family: 'Jura', sans-serif;
            font-size: 1.6vw;
            background-color: pv.$post-background;
            color: $label-border-color;
            border: 0.2vw solid $label-border-color;
            transition: transform 0.4s ease-out;
            transform: skewX(-20deg);

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
                color: pv.$post-background;
                background-color: $label-border-color;
            }
        }

        button:nth-child(1) {
            animation: changeBackground $animation-duration ease-out infinite;
        }

        button:nth-child(2) {
            animation: changeBackground2 $animation-duration ease-out infinite;
        }

        button:nth-child(3) {
            animation: changeBackground3 $animation-duration ease-out infinite;
        }
    }
}