.input-post {
    h2 {
        padding: 0;
        margin: 3% 0;
    }

    input[type="text"] {
        border: inherit;
        outline: inherit;
        font-size: inherit;
        width: 100%;
        min-height: 5vw;
        background-color: inherit;
        color: inherit;
        font-weight: inherit;
    }

    p {
        min-height: 90%;
    }

    textarea {
        width: 100%;
        min-height: 50vw;
        background-color: inherit;
        border: inherit;
        color: inherit;
        font-size: inherit;
    }
}