.input-post {
    textarea {
        resize: none;
    }

    h2 {
        padding: 0;
        margin: 3% 0;
        word-wrap: break-word;
        
        &[placeholder]:empty::before {
            content: attr(placeholder);
            color: gray;
        }
    }

    p {
        min-height: 90%;

        textarea {
            width: 100%;
            min-height: 50vw;
            background-color: inherit;
            border: inherit;
            color: inherit;
            font-family: inherit;
            font-size: inherit;

            &::placeholder {
                font-weight: bolder;
                font-size: 3vw;
            }
        }
    }

    .thumbnail-label {
        $border-width: 0.2vw;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3vw;
        box-sizing: border-box;
        border: $border-width solid transparent;

        input {
            display: none;
        }

        &:hover {
            cursor: pointer;
            border: $border-width solid skyblue;
        }

        .thumbnail-dragover {
            border: $border-width dotted #deff23;
        }
    }
}