@use 'post-variables' as pv;

.post-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: pv.$post-background;
}

.post-view {
    width: 90%;
}