.post-row-container {
    $translate-x-distance: 120%;
    $translate-y-distance: -50%;
    .left-element, .right-element {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(51, 38, 38, 1);
        top: 0;
        border: 0.2vw solid white;
        border-radius: 1%;
    }

    .left-element {
        left: 0;
        transform: translateX(-$translate-x-distance)
            translateY($translate-y-distance);
    }    

    .right-element {
        right: 0;
        transform: translateX($translate-x-distance)
        translateY($translate-y-distance);
    }
}