@use '../variables' as v;
@use 'post-variables' as pv;
@use 'post-animations';
@use 'post-view';
@use 'post-row';
@use 'input-post';

.posts-container {
    overflow: scroll;
    height: 80vh;
    width: 100%;
    scrollbar-width: none;
    padding: 3% 0 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    &::-webkit-scrollbar {
        display: none;
    }
}