.comment-form {
    width: 60%;

    .image-container {
        width: 14%;

        img {
            width: 100%;
        }
    }

    .comment-body {
        display: flex;
    }

    p {
        width: 79%;
        margin-left: 2%;
        font-size: 1.6vw;

        &[placeholder]:empty::before {
            content: attr(placeholder);
            color: gray;
            font-weight: bolder;
            font-size: 3vw;
        }
    }
}