@use 'comment_form';

.comment-section {
    width: 90%;
    border-top: 0.2vw solid white;
    padding-top: 3%;
}

.comment {
    width: 40%;
    display: flex;
    font-weight: 2vw;
    border-bottom: 0.2vw solid white;

    .image-container {
        width: 20%;
        
        img {
            width: 100%;
        }
    }
}