@use 'comment_form';

.comment-section {
    width: 90%;
    border-top: 0.2vw solid white;
    padding-top: 3%;
}

.comment {
    width: 40%;
    display: flex;
    border-bottom: 0.2vw solid white;
    margin-bottom: 2%;

    p {
        font-size: 1.6vw;
        margin-left: 3%;
    }

    .image-container {
        width: 20%;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;

        img {
            width: 100%;
        }

        h3 {
            position: absolute;
            background: rgba(36, 36, 36, 0.63);
            width: 100%;
            bottom: 0;
            left: 0;
            text-align: center;
            color: #e5ff8f;
            font-family: 'Jura', sans-serif;
            font-weight: bold;
            padding: 4% 0;
        }
    }
}